/* about */
.second-content-img {
  background: url(../../images/whisky.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30%;
}

.article {
  color: #fff;
  font-size: 28px;
}

.second-content-img {
  color: #fff;
}

.about-me-title {
  background-color: transparent;
  border-color: #ff0000;
  font-size: 80px;
  -webkit-text-stroke-color: #ff0000;
  -webkit-text-stroke-width: 1px;
}
