.header-link {
  font-family: cursive;
}

/*headerのボタンのデザイン*/
.header-btn-design {
  /*文字色を白色*/
  color: white;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.first-block-sentence {
    background-color: transparent;
    border-color: #ff0000;
    font-size: 7rem;
    -webkit-text-stroke-color: #ff0000;
    -webkit-text-stroke-width: 1px;
    color: transparent;
  } 

.content-character:hover {
  color: #ff0000;
  text-shadow: 0 0 3px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
  transition-delay: 0.2s;
}

@media (min-width: 1px) {
  /*　画面サイズが1pxからはここを読み込む　*/
  .first-block {
    height: 100vh;
  }
  .first-block-sentence {
    background-color: transparent;
    border-color: #ff0000;
    font-size: 3.8rem;
    -webkit-text-stroke-color: #ff0000;
    -webkit-text-stroke-width: 1px;
    color: transparent;
  }
}

@media (min-width: 480px) {
  /*　画面サイズが480pxからはここを読み込む　*/
  .first-block {
    height: 100vh;
  }
  .first-block-sentence {
    background-color: transparent;
    border-color: #ff0000;
    font-size: 4.3rem;
    -webkit-text-stroke-color: #ff0000;
    -webkit-text-stroke-width: 1px;
    color: transparent;
  }
}

@media (min-width: 768px) {
  /*　画面サイズが768pxからはここを読み込む　*/
  .first-block {
    height: 100vh;
  }
  .first-block-sentence {
    background-color: transparent;
    border-color: #ff0000;
    font-size: 5.3rem;
    -webkit-text-stroke-color: #ff0000;
    -webkit-text-stroke-width: 1px;
    color: transparent;
  }
}

@media (min-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .first-block {
    height: 100vh;
  }
  .first-block-sentence {
    background-color: transparent;
    border-color: #ff0000;
    font-size: 6.2rem;
    -webkit-text-stroke-color: #ff0000;
    -webkit-text-stroke-width: 1px;
    color: transparent;
  }
}

@media (min-width: 1250px) {
  .first-block-sentence {
    background-color: transparent;
    border-color: #ff0000;
    font-size: 7.8rem;
    -webkit-text-stroke-color: #ff0000;
    -webkit-text-stroke-width: 1px;
    color: transparent;
  }
}

.first-content-img {
  background: url(../../images/brick.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vh;
  height: 100vh;
}
